<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NewHomeVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>综合版首页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>综合版首页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
		</array>
	</dict>
	<key>HomeVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>小诸葛首页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>小诸葛首页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
		</array>
	</dict>
	<key>OpenUrlLinkVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>轮播图详情页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>轮播图详情页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
		</array>
	</dict>
	<key>MessageListVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>消息公告中心页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>消息公告中心页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
		</array>
	</dict>
	<key>BulletinDetailVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>消息公告中心公告详情页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>消息公告中心公告详情页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
		</array>
	</dict>
	<key>InvestmentVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>投资主页面</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>投资主页面</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
		</array>
	</dict>
	<key>ProductDetailVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>产品详情页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>产品详情页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
		</array>
	</dict>
	<key>ProjectDetailVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>项目详情页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>项目详情页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
		</array>
	</dict>
	<key>InvestRecordVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>投资记录页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>投资记录页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
		</array>
	</dict>
	<key>RookiePurchaseVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>体验标的购买页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>体验标的购买页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
		</array>
	</dict>
	<key>PurchaseSuccessVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>投资成功页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>投资成功页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
		</array>
	</dict>
	<key>PurchaseFailureVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>投资失败页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>投资失败页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
		</array>
	</dict>
	<key>UserVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>个人页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>个人页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
		</array>
	</dict>
	<key>RechangeCashVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>充值页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>充值页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
		</array>
	</dict>
	<key>AssetDetailVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>资产详情页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>资产详情页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
		</array>
	</dict>
	<key>MyRedPacketVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>我的红包页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>我的红包页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
		</array>
	</dict>
	<key>MyInvestVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>我的投资页面</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>我的投资页面</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
		</array>
	</dict>
	<key>MoreVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>更多页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>更多页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
		</array>
	</dict>
	<key>MediueVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>媒体报道页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>媒体报道页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
		</array>
	</dict>
	<key>HelpCenterVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>帮助中心页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>帮助中心页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
		</array>
	</dict>
	<key>SuggestionVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>意见反馈页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>意见反馈页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
		</array>
	</dict>
	<key>RegisterVC</key>
	<dict>
		<key>LoggingTrackedEvents</key>
		<array>
			<dict>
				<key>LoggingEventName</key>
				<string>离开</string>
				<key>LoggingDescribe</key>
				<string>注册页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidDisappear:</string>
			</dict>
			<dict>
				<key>LoggingEventName</key>
				<string>进入</string>
				<key>LoggingDescribe</key>
				<string>注册页</string>
				<key>LoggingSelectorName</key>
				<string>viewDidAppear:</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
